.container {
  margin-Bottom: 1.45rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  a {
    color: black;
  }
}

.nav-bar {
  nl{
    display: flex;
    justify-content: center;
  }
  a {
    color: #999999;
  }
  a:hover{
    color: #666666;
  }
}

.header-line {
  hr {
    border-top: 1px solid #8c8b8b;
  }
}